body {
    text-align: center;
}

#breakerboard {
    background-color: black;
    border-top: 5px solid dodgerblue;
    border-bottom: 5px solid dodgerblue;
    border-right: 5px solid dodgerblue;
    border-left: 5px solid dodgerblue;
}
